<!DOCTYPE html>
<html ng-app="myApp">
 <head>
 	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <title>PokeApi</title>
 </head>
 <header>
</header>
	<body>

	<div class="main" ng-controller= "apiController">
	<input type="text" ng-model="name" class="search-input" placeholder="Filtra pokemon por nombre">
 	
 	<div class='pokemon-card' ng-repeat="pokemon in pokemons">

        <img src='{{ pokemon.sprites.front_default }}' />

		<div class="pokemon-card-info">
			<span class="poke-id">ID/{{pokemon.id}}</span>
	        <h3 class='name'>{{ pokemon.name }}</h3>
	        <ul class='stats'>
	        	<p ng-repeat='item in pokemon.types'>
	            	<span class='stat-label'>{{item.type.name}} </span>
	          	</p>
	         </ul>

	        <ul class='stats'>
	          	<li ng-repeat='item in pokemon.abilities'>
	            	<span class='stat-label'>{{item.ability.name}} </span>
	          	</li>
	        </ul>
		</div>

    </div>
<!-- 
	<input type="text" ng-model="name" class="search-input">
	<button ng-click="buscar()">Request</button>
		<p>Nombre:{{name}}</p>
		<p>Número:{{id}}</p>
		<p>Orden:{{orden}}</p>
		<img ng-src='{{image}}'></img>
	</div> -->

<!-- 	<div ng-controller="PromiseCtrl">
	    <p ng-repeat="name in pokeAttrNames">{{name}}</p>
	</div> -->
	</div>	
	</body>
<!-- <script type="text/javascript" src="angular.min.js"></script> -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
<script type="text/javascript" src="assets/app.js"></script>
 </body>
</html>
