<!DOCTYPE html>
<html ng-app="pokeApi">
 <head>
 	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="app.css">
    <title>PokeApi</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
 </head>
 <header>
</header>
	<body ng-controller= "apiController">
	<div class="main">
	<!-- <button ng-click="buscar()">goooooo</button>

	<div class="poke-card" ng-repeat="item in pokemons">

		<p>Nombre:{{item.name}}</p>
		<p>Número:{{item.id}}</p>
		<p>Orden:{{item.orden}}</p>
		<img ng-src='{{item.image}}'></img>
	</div>-->

	<input type="text" ng-model="name" class="search-input">
	<button ng-click="buscar()">Request</button>
		<p>Nombre:{{name}}</p>
		<p>Número:{{id}}</p>
		<p>Orden:{{orden}}</p>
		<img ng-src='{{image}}'></img>
	</div>
		
	</body>
<!-- <script type="text/javascript" src="angular.min.js"></script> -->
<script type="text/javascript" src="app.js"></script>
 </body>
</html>
