body{
 	background-color: #fde344;
}
.main{
	width: 60%;
	height: auto;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
	
 }
.search-input{
	width: 100%;
	height: 35px;
	font-size: 18px;
    text-align: center;
	border: none;
    background-color: #fdf8e9;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.search-input::placeholder{
	color: #c1c0bf;
}

.pokemon-card{
	height: auto;
	width: 30.5%;
	background-color: #dedede;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
img{
	height: 150px;
	position: relative;
    left: 15%;
}
.pokemon-card-info{
	background-color: white;
	min-height: 60%;
	height: auto;
}

