body{
 	background-color: #fde344;
}
section{
	width: 100%;
}
.main{
	width: 60%;
	height: auto;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
	
 }
.search-input{
	width: 100%;
	height: 35px;
	font-size: 18px;
    text-align: center;
	border: none;
    background-color: #fff7df;
    box-shadow: 2px 9px 25px -10px rgba(0, 0, 0, 0.31);
}
.search-input::placeholder{
	color: #c1c0bf;
}

.pokemon-card{
	height: auto;
	width: 30.5%;
	background-color: #dedede;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
img{
	height: 150px;
	position: relative;
    left: 20%;
}
.pokemon-card-info{
	background-color: white;
	min-height: 60%;
	height: auto;
}

.stat-label{
    height: 17px;
    width: auto;
    text-transform: uppercase;
    border: 1px solid #af3f3f;
    color: #af3f3f;
    border-radius: 3px;
    padding: 2px;
}

/*      Arrows and sferes decoration       */

.arrow-right {
  background-color: #444;
  height: 100px;
  left: -50px;
  position: absolute;
  top: -50px;
  width: 100px;
  
  -webkit-transform: rotate(-45deg);
}

/*.arrow-left {
  background-color: #444;
  height: 100px;
  right: -50px;
  position: absolute;
  top: -50px;
  width: 100px;
  
  -webkit-transform: rotate(-45deg);
}

.circle-right {
    background-color: #ef2727;
    height: 150px;
    left: -73px;
    position: absolute;
    bottom: -73px;
    width: 150px;
    -webkit-transform: rotate(-45deg);
    border-radius: 123px;
}
*/


